/* Define color palette */
:root {
    --text1: white;
    --text2: lightgray;
    --background1: rgb(31, 31, 31);
    --background2: rgb(20, 20, 20);
    --background3: rgb(41, 42, 45);
    --background4: rgba(26, 115, 232, 0.122);
    --background5: rgb(60, 65, 70);
    --fill1: white; 
}

.EHzcec { background: var(--background2) !important; }
.LVal7b { background: var(--background1) !important; }
span { color: var(--text1) !important; }
.tX9u1b:hover { background: var(--background3) !important; }